Plugins/CorvusEbMS/src/test/resources/hk.hku.cecid.ebms.handler.ValidationComponentTest/ClientSchema/AssetManagement_r2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2009 sp1 (http://www.altova.com) by XMLSpy 2009 Professional Ed., Installed for 21 users (with SMP from 2009-08-07 to 2010-08-08) (Jemena) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">



	<xsd:simpleType name="DeliveryLocationBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DeliveryLocationTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MelwayGridReference"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="DeliveryLocation">
		<xsd:simpleContent>
			<xsd:extension base="DeliveryLocationBase">
				<xsd:attribute name="type" type="DeliveryLocationTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:simpleType name="TimePeriodBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimePeriodTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="day"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TimePeriod">
		<xsd:simpleContent>
			<xsd:extension base="TimePeriodBase">
				<xsd:attribute name="unit" type="TimePeriodTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>



	<xsd:complexType name="DeliveryDetails">
		<xsd:sequence>
			<xsd:element name="Party" type="PartyIdentifier" minOccurs="0"/>
			<xsd:element name="Contact" type="CustomerDetail" minOccurs="0"/>
			<xsd:element name="DeliveryAddress" type="AustralianAddress" minOccurs="0"/>
			<xsd:element name="DeliveryLocation" type="DeliveryLocation" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Delivery">
		<xsd:sequence>
			<xsd:element name="DeliveryDetails" type="DeliveryDetails"/>
		</xsd:sequence>
		<xsd:attribute name="deliveryNumber" type="UniqueIdentifier" use="required"/>
		<xsd:attribute name="deliveryDate" type="xsd:date" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="Device">
		<xsd:sequence>
			<xsd:element name="UtilID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProxySubType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ManufactureDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ManufactureModel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWVersionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWRevisionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWPatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWConfiguration" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWVersionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWRevisionNumber" type="xsd:string" minOccurs="0"/>			
			<xsd:element name="HWPatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWConfiguration" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NIC">
		<xsd:sequence>
			<xsd:element name="MACAddress" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RFChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetworkMask" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NetworkID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Model" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWVersionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWRevisionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWPatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReleasedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SWConfiguration" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWVersionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWRevisionNumber" type="xsd:string" minOccurs="0"/>			
			<xsd:element name="HWPatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="HWConfiguration" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="WAN">
		<xsd:sequence>
			<xsd:element name="ModelNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VersionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RevisionNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ElectronicSerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Gateway">
		<xsd:sequence>
			<xsd:element name="IP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Port" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="AustralianPhoneNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="UIQ">
		<xsd:sequence>
			<xsd:element name="IP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Port" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PhoneNumber" type="AustralianPhoneNumber" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="SIM">
		<xsd:sequence>
			<xsd:element name="SIMNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Warranty">
		<xsd:sequence>
			<xsd:element name="BurnInPeriod" type="TimePeriod" minOccurs="0"/>
			<xsd:element name="ReturnToBase" type="TimePeriod" minOccurs="0"/>
			<xsd:element name="BackStop" type="TimePeriod" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="startDate" type="xsd:date" use="required"/>
	</xsd:complexType>


	<xsd:simpleType name="ReplacedReferenceBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReplacedReferenceTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SerialNumber"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ReplacedReference">
		<xsd:simpleContent>
			<xsd:extension base="ReplacedReferenceBase">
				<xsd:attribute name="referenceType" type="ReplacedReferenceTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:complexType name="Replacement">
		<xsd:sequence>
			<xsd:element name="ReplacedReference" type="ReplacedReference"/>
			<xsd:element name="Warranty" type="Warranty"/>
		</xsd:sequence>
		<xsd:attribute name="deviceRepaired" type="YesNo" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="OrderQuantityBase">
		<xsd:restriction base="xsd:nonNegativeInteger"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EA"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OrderQuantity">
		<xsd:simpleContent>
			<xsd:extension base="OrderQuantityBase">
				<xsd:attribute name="unit" type="UnitTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="TimeZoneBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TimeZoneUnitTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="UTCOffset"/>
			<xsd:enumeration value="region"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TimeZone">
		<xsd:simpleContent>
			<xsd:extension base="TimeZoneBase">
				<xsd:attribute name="unit" type="TimeZoneUnitTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>


	<xsd:complexType name="OrderItem">
		<xsd:sequence>
			<xsd:element name="OrderQuantity" type="OrderQuantity"/>
			<xsd:element name="OrderDescription" type="Description"/>
		</xsd:sequence>
		<xsd:attribute name="itemNumber" type="xsd:nonNegativeInteger" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="PurchaseOrder">
		<xsd:sequence>
			<xsd:element name="OrderItem" type="OrderItem"/>
		</xsd:sequence>
		<xsd:attribute name="purchaseOrderNumber" type="UniqueIdentifier" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="LogisticsOrder">
		<xsd:sequence>
			<xsd:element name="OrderItem" type="OrderItem"/>
		</xsd:sequence>
		<xsd:attribute name="logisticsOrderNumber" type="UniqueIdentifier" use="required"/>
	</xsd:complexType>


	<xsd:simpleType name="CurrentClassificationBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CurrentClassificationTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="amp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MaximumCurrentClassification">
		<xsd:simpleContent>
			<xsd:extension base="CurrentClassificationBase">
				<xsd:attribute name="unit" type="CurrentClassificationTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:simpleType name="VoltageBase">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VoltageTypeCode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="volt"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Voltage">
		<xsd:simpleContent>
			<xsd:extension base="VoltageBase">
				<xsd:attribute name="unit" type="VoltageTypeCode" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>

	<xsd:complexType name="AMMeterType">
		<xsd:sequence>
			<xsd:element name="Form" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Base" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MaximumCurrentClassification" type="MaximumCurrentClassification" minOccurs="0"/>
			<xsd:element name="Voltage" type="Voltage" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="MeterProgram">
		<xsd:sequence>
			<xsd:element name="ProgramID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ControlCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreationDate" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="MeterTest">
		<xsd:sequence>
			<xsd:element name="Test" type="xsd:string"/>
			<xsd:element name="Result" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="testDate" type="xsd:dateTime" use="required"/>
	</xsd:complexType>


	<xsd:complexType name="MeterTests">
		<xsd:sequence>
			<xsd:element name="MeterTest" type="MeterTest" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="MeterConfiguration">
		<xsd:sequence>
			<xsd:element name="FileID" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute name="number" type="xsd:string" use="required"/>
	</xsd:complexType>


	<xsd:complexType name="MeterConfigurations">
		<xsd:sequence>
			<xsd:element name="MeterConfiguration" type="MeterConfiguration" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AccessPoint">
		<xsd:sequence>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Barcode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeviceIDSubType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Device" type="Device" minOccurs="0"/>
			<xsd:element name="NIC" type="NIC" minOccurs="0"/>
			<xsd:element name="WAN" type="WAN" minOccurs="0"/>
			<xsd:element name="Gateway" type="Gateway" minOccurs="0"/>
			<xsd:element name="UIQ" type="UIQ" minOccurs="0"/>
			<xsd:element name="TimeZone" type="TimeZone" minOccurs="0"/>
			<xsd:element name="SIM" type="SIM" minOccurs="0"/>
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Relay">
		<xsd:sequence>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Barcode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeviceIDSubType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Device" type="Device" minOccurs="0"/>
			<xsd:element name="NIC" type="NIC" minOccurs="0"/>
			<xsd:element name="TimeZone" type="TimeZone" minOccurs="0"/>
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AMMeter">
		<xsd:sequence>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Barcode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DeviceIDSubType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Device" type="Device" minOccurs="0"/>
			<xsd:element name="MeterType" type="AMMeterType" minOccurs="0"/>			
			<xsd:element name="NIC" type="NIC" minOccurs="0"/>
			<xsd:element name="MeterMode" type="xsd:string" minOccurs="0"/>			
			<xsd:element name="MeterProgram" type="MeterProgram" minOccurs="0"/>			
			<xsd:element name="HANPriceProgram" type="xsd:string" minOccurs="0"/>			
			<xsd:element name="TimeZone" type="TimeZone" minOccurs="0"/>
			<xsd:element name="MeterTests" type="MeterTests" minOccurs="0"/>			
			<xsd:element name="MeterConfigurations" type="MeterConfigurations" minOccurs="0"/>			
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="Battery">
		<xsd:sequence>
			<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModelNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SerialNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Barcode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ManufactureDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExpirationDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="MountingKit">
		<xsd:sequence>
			<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModelNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ManufactureDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="Antenna">
		<xsd:sequence>
			<xsd:element name="Manufacturer" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModelNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ManufactureDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BatchNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Replacement" type="Replacement" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType name="ItemType">
		<xsd:sequence>
			<xsd:element name="PartNumber" type="xsd:string"/>
			<xsd:element name="PurchaseOrder" type="PurchaseOrder"/>
			<xsd:element name="LogisticsOrder" type="LogisticsOrder" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="AccessPoint" type="AccessPoint" maxOccurs="unbounded"/>
				<xsd:element name="Relay" type="Relay" maxOccurs="unbounded"/>
				<xsd:element name="Meter" type="AMMeter" maxOccurs="unbounded"/>
				<xsd:element name="Battery" type="Battery" maxOccurs="unbounded"/>
				<xsd:element name="MountingKit" type="MountingKit" maxOccurs="unbounded"/>
				<xsd:element name="Antenna" type="Antenna" maxOccurs="unbounded"/>
			</xsd:choice>
		</xsd:sequence>
		<xsd:attribute name="quantity" type="xsd:nonNegativeInteger" use="required"/>
		<xsd:attribute name="unit" type="UnitTypeCode" use="required"/>
		<xsd:attribute name="description" type="Description" use="required"/>
	</xsd:complexType>



	<xsd:complexType name="ItemTypes">
		<xsd:sequence>
			<xsd:element name="ItemType" type="ItemType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="AssetTransferNotification">
		<xsd:sequence>
			<xsd:element name="TransactionType" type="AssetTransactionType"/>
			<xsd:element name="AssetType" type="AssetType"/>
			<xsd:element name="AssetID" type="UniqueIdentifier18" minOccurs="0"/>
			<xsd:element name="BarCodeID" type="UniqueIdentifier" minOccurs="0"/>
			<xsd:element name="AssetQuantity" type="xsd:nonNegativeInteger" minOccurs="0"/>
			<xsd:element name="ReceiptDate" type="xsd:date"/>
			<xsd:element name="PurchaseOrderNumber" type="UniqueIdentifier"/>
			<xsd:element name="PurchaseOrderLineItem" type="Description"/>
			<xsd:element name="AssetLocation" type="AssetLocation"/>
			<xsd:element name="ReceivingLocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TransferDate" type="xsd:dateTime"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="r1" use="required"/>
	</xsd:complexType>


	<xsd:complexType name="AssetManifestNotification">
		<xsd:sequence>
			<xsd:element name="Delivery" type="Delivery"/>
			<xsd:element name="ItemTypes" type="ItemTypes"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="r2" use="required"/>
	</xsd:complexType>
		
	
	
	
</xsd:schema>
