Plugins/CorvusEbMS/src/test/resources/hk.hku.cecid.ebms.handler.ValidationComponentTest/ClientSchema/Header_r2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!-- Support Types -->
	<xsd:simpleType name="MessageIdentifier">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Uniquely identify every message generated by the message sender
Detail - Note that message identifiers do not have to be globally unique, only unique to a particular sender. However, the length has been chosen such that UUIDs can be used as message identifiers if considered appropriate, guaranteeing global uniqueness. 

A message acknowledgement identifies which message it is acknowledging by providing the message identifier as an attribute.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionGroup">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Provide the transaction group to which all the contained transactions or transaction acknowledgments belong
Detail - The target application is at liberty to reject any transactions within the message that do not belong to the stated TransactionGroup. Where only message acknowledgements are carried, a transaction group of "MSGS" should be used.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MTEX"/>
			<xsd:enumeration value="ASTM"/>
			<xsd:enumeration value="CONS"/>
			<xsd:enumeration value="WORD"/>
			<xsd:enumeration value="MTKY"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TransactionPriority">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Provide the processing priority desired by the sender
Detail - The sender can indicate their preference in terms of timeliness of processing for the payload. It is left to the discretion of the receiver to determine whether and how to honour the requested priority.
	</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Priority">
			<xsd:enumeration value="High"/>
			<xsd:enumeration value="Medium"/>
			<xsd:enumeration value="Low"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MessageSecurityContext">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Provide the processing priority desired by the sender
Detail - The sender can indicate information needed by the receiver to determine whether or not the sender is authorised to submit the transactions within the message. 

For the Market Settlement And Transfer System (MSATS), this will be used to hold the participant userid from which the context for transaction processing is determined.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EnergyMarket">
		<xsd:annotation>
			<xsd:documentation>
Purpose -Indicate the energy market to which the message belongs
Detail - Markets are currently defined for the National Electricity Market, the NSW Gas Market and the Victorian Gas Market.
</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ISV"/>
			<xsd:enumeration value="ESP"/>
			<xsd:enumeration value="AMI"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Main Types -->
	<xsd:complexType name="Header">
		<xsd:annotation>
			<xsd:documentation>
Purpose - Define the contents of the aseXML message header
Detail - Every aseXML message carries a header. It is used to indicate information pertaining to the message as a whole.
When not provided, a default value of NEM will be assumed for the market.  
</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="From" type="PartyIdentifier"/>
			<xsd:element name="To" type="PartyIdentifier"/>
			<xsd:element name="MessageID" type="MessageIdentifier"/>
			<xsd:element name="MessageDate" type="xsd:dateTime"/>
			<xsd:element name="TimeToLive" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="TransactionGroup" type="TransactionGroup"/>
			<xsd:element name="Priority" type="TransactionPriority" minOccurs="0"/>
			<xsd:element name="SecurityContext" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Market" type="EnergyMarket" default="ISV" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
